
{% extends "base.html" %}
 {% load staticfiles %}

 {% block scripts %}
 <link rel="stylesheet" type="text/css" href="{% static 'd3GraphCSS.css' %}"/>
 {% endblock scripts %}

 {% block d3Script %}
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <script>

 var width = 1020;
 var height = 800;

var force = d3.layout.force()
    .size([width,height])
    .charge(-400)
    .linkDistance(40)
    .on("tick", tick);

var drag = force.drag()
    .on("dragstart", dragstart);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .call(d3.behavior.zoom().scaleExtent([1,8]).on("zoom", zoom))
    .append("g");

svg.append("rect")
    .attr("class","overlay")
    .attr("width",width)
    .attr("height",height);


var linkVis = svg.append("svg:g");
var nodeVis = svg.append("svg:g");
var rectVis = svg.append("svg:g");


var link = linkVis.selectAll(".link");
var node = nodeVis.selectAll(".node");

// This keeps track of the last node the mouse was over.
var currentObjectMouse = null;
// This keeps track of the last node the user clicked on.
var currentObjectClick = null;




d3.json("{% url 'base.views.getGraph' %}", function(error, graph){
    if(error){alert("Err: "+error);}
    force.nodes(graph.nodes)
         .links(graph.links)
         .start();    

    start();
});


// ::TODO:: This function is duplicating everything when it's called! 
//          Find out why and fix this.
function start() {
    link = link.data(force.links());
    link.enter().append("line").attr("class","link");
    link.exit().remove();
    node = node.data(force.nodes());
    thing = node.enter().append("g").attr("class","node").call(drag);
    thing.append("circle")
	.attr("r", 12);
    thing.append("text")
	.attr("dx", 12)
	.attr("dy", ".15em")
	.text(function(d){return d.name});
    thing.on("mouseover", function(){
	if(currentObjectMouse!=null){
	    d3.select(currentObjectMouse).select("text").classed("mouseOverSelected",false);
	}
	d3.select(this).select("text").classed("mouseOverSelected",true);
	currentObjectMouse = this;
    });
    thing.on("mousedown", function(){
	if(currentObjectClick!=null){
	    d3.select(currentObjectClick).select("text").classed("clickSelected",false);
	}
	d3.select(this).select("text").classed("clickSelected",true);
	currentObjectClick = this;
    });
    node.exit().remove();
    force.start();
}
    


function tick() {
    link.attr("x1", function(d){return d.source.x;})
	.attr("y1", function(d){return d.source.y;})
	.attr("x2", function(d){return d.target.x;})
	.attr("y2", function(d){return d.target.y;});

    //node.attr("cx", function(d){return d.x;})
    //    .attr("cy", function(d){return d.y;});
    node.attr("transform", function(d){return "translate("+d.x+","+d.y+")";});
}

function dragstart(d){
    d.fixed = true;
    d3.select(this).classed("fixed", true);
    d3.event.sourceEvent.stopPropagation();
}

function zoom(){
    svg.attr("transform", "translate("+d3.event.translate+")scale("+d3.event.scale+")");
}

// Handling the key events.
// This might be a bit rough for a while as I learn how to do this.
d3.select("body")
    .on("keydown", function(){
	var kcode = d3.event.keyCode;
	if(kcode==76){
	    flashText("addingLink");
	    addLink();
	}
    });
function flashText(txt){
    svg.append("text").attr("x","100")
	.attr("y","100")
	.style("font-size","26px")
	.text(""+txt)
	.transition().duration(2000)
	.style("font-size","5px")
	.style("fill-opacity",".1")
	.remove();
}

function addLink(){
    var clickIndex = currentObjectClick.__data__.index;
    var mouseIndex = currentObjectMouse.__data__.index;
    var oldLinks = force.links();
    var newLinks = oldLinks.push({"source":clickIndex, "target":mouseIndex});
    start();
}

</script>
{% endblock d3Script %}
