
{% extends "base.html" %}
 {% load staticfiles %}

 {% block scripts %}
 <link rel="stylesheet" type="text/css" href="{% static 'd3GraphCSS.css' %}"/>
 <script src="{% static 'spin.min.js' %}"></script>
 {% endblock scripts %}

 {% block controls %}

 <select id="linkTypeSelector">
 {% for linkType in linkTypes %}
 <option value="{{linkType.name}}">{{linkType.name}}</option>
 {% endfor %}
 </select>

 <select id="nodeTypeSelector">
 {% for nodeType in nodeTypes %}
 <option value="{{nodeType.name}}">{{nodeType.name}}</option>
 {% endfor %}
 </select>
 
 <button type="button" onclick="storeNodePos()">StoreNodePos</button>

 <button type="button" onclick="resetNodePos()">ResetNodePos</button>

 <div id="spinner-box"></div>

 {% endblock controls %}


 {% block d3Script %}
 <script src="http://d3js.org/d3.v3.min.js"></script>
 <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script src="{% static 'jquery-impromptu.min.js' %}"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'jquery-impromptu.min.css' %}"/>
 <script>

 var spinOpts = {
     lines: 8,
     length: 10,
     width: 5,
     radius: 5,
     corners: 0.5,
     rotate: 0,
     direction: 1,
     color: '#000',
     speed: 1,
     trail: 40,
     shadow: false,
     hwaccel: false,
     className: 'spinner',
     zIndex: 2e9,
     top: 'auto',
     left: 'auto'
 };
 var spinner = new Spinner(spinOpts);
 var spinnerTarget = document.getElementById('spinner-box');

 var width = 1020;
 var height = 800;

var force = d3.layout.force()
    .size([width,height])
    .charge(-400)
    .linkDistance(40)
    .on("tick", tick);

var drag = force.drag()
    .on("dragstart", dragstart);


zooom = d3.behavior.zoom().scaleExtent([-5,8]).on("zoom", zoom)
var svg = d3.select("body").append("div").attr("id","kbdEventContainer").attr("tabIndex","1")
    .append("svg").attr("id","initialSVG")
    .attr("width", width)
    .attr("height", height)
    .append("g")
    .call(zooom)
    .append("g")
    .on("mousemove", function(){global_mousey = d3.mouse(this);});

svg.append("rect")
    .attr("class","overlay")
    .attr("width",width)
    .attr("height",height);

d3.select("#initialSVG").append("marker")
    .attr("id", "triangle")
    .attr("viewBox","0 0 10 10")
    .attr("refX","20")
    .attr("refY","5")
    .attr("markerUnits", "strokeWidth")
    .attr("markerWidth", "13")
    .attr("markerHeight", "7")
    .attr("orient", "auto")
    .append("path")
    .attr("d", "M 0 0 L 10 5 L 0 10 z")


var linkVis = svg.append("svg:g");
var nodeVis = svg.append("svg:g");
var rectVis = svg.append("svg:g");


var link = linkVis.selectAll(".link");
var node = nodeVis.selectAll(".node");

// This keeps track of the last node the mouse was over.
var currentObjectMouse = null;
// This keeps track of the last node the user clicked on.
var currentObjectClick = null;




d3.json("{% url 'base.views.getGraph' %}", function(error, graph){
    if(error){alert("Err: "+error);}
    force.nodes(graph.nodes)
         .links(graph.links)
         .start();    

    start();
});


// ::TODODone:: This function is duplicating everything when it's called! 
//          Find out why and fix this. Well, it was because of incorrect nesting in
//          the d3 calls. Each update was calling an append it shouldn't have, so the
//          nodes just kept getting stacked on there.
function start() {
    link = link.data(force.links());
    link.enter().append("line").attr("class","link").attr("marker-end", "url(#triangle)");
    link.exit().remove();
    node = node.data(force.nodes(), function(d){return d.origIndex});
    thing = node.enter().append("g").attr("class","node").classed("fixed", function(d){return(d.fixed===1)}).call(drag);
    thing.append("circle")
	.attr("r", 12);
    thing.append("text")
	.attr("dx", 12)
	.attr("dy", ".15em")
	.text(function(d){return d.name});
    thing.on("mouseover", function(){
	if(currentObjectMouse!=null){
	    d3.select(currentObjectMouse).select("text").classed("mouseOverSelected",false);
	}
	d3.select(this).select("text").classed("mouseOverSelected",true);
	currentObjectMouse = this;
    });
    thing.on("mousedown", function(){
	if(currentObjectClick!=null){
	    d3.select(currentObjectClick).select("text").classed("clickSelected",false);
	}
	d3.select(this).select("text").classed("clickSelected",true);
	currentObjectClick = this;
    });
    node.exit().remove();
    force.start();
}
    


function tick() {
    link.attr("x1", function(d){return d.source.x;})
	.attr("y1", function(d){return d.source.y;})
	.attr("x2", function(d){return d.target.x;})
	.attr("y2", function(d){return d.target.y;});

    //node.attr("cx", function(d){return d.x;})
    //    .attr("cy", function(d){return d.y;});
    node.attr("transform", function(d){return "translate("+d.x+","+d.y+")";});
}

function dragstart(d){
 
    d.fixed = true;
    d3.select(this).classed("fixed", true);
    d3.event.sourceEvent.stopPropagation();
}

globalScale = null;
globalTranslate = null;
function zoom(){
    if(d3.event===null){
	var trans = zooom.translate();
	var scale = zooom.scale();
	svg.attr("transform", "translate("+trans+")scale("+scale+")");
	globalScale = scale;
	globalTranslate = trans;
	
    }
    else if(d3.event.sourceEvent.shiftKey==true){
	if(d3.event.sourceEvent.wheelDelta > 0){
	    // one thing
	    var gravity = force.gravity();
	    force.gravity( gravity * 1.05 );
	}else{
	    // other thing
	    var gravity = force.gravity();
	    force.gravity( gravity * 0.95 );
	}
	start();
	if(globalScale != null && globalTranslate != null){
	    zooom.scale(globalScale);
	    zooom.translate(globalTranslate);
	}
	d3.event.sourceEvent.stopPropagation();
    } else {
	svg.attr("transform", "translate("+d3.event.translate+")scale("+d3.event.scale+")");
	globalScale = d3.event.scale;
	globalTranslate = d3.event.translate;
    }
}

// Handling the key events.
// This might be a bit rough for a while as I learn how to do this.
d3.select("#kbdEventContainer")
    .on("keydown", function(){
	var kcode = d3.event.keyCode;
	if(kcode==76){ // This is 'l'
	    flashText("adding Link");
	    addLink();
        }else if(kcode==82){ // This is 'r' for 'removeLink'
            flashText("removing Link");
            removeLink();
	}else if(kcode==65){ // This is 'a' for 'add'
	    flashText("adding Node");
	    addNode();
	}else if(kcode==69){ // This is 'e' for 'edit'
	    flashText("editing Node");
	    if(d3.event.shiftKey==true){
		editNode(true);
	    }else{
		editNode(false);
	    }
	}else if(kcode==85){ // This is 'u' for 'unfix'
	    flashText("unfixing node");
	    unfixNode();
	}else if(kcode==68){ // This is 'd' for 'delete node'
	    flashText("deleting node");
	    deleteNode();
	}else{
	    flashText(""+kcode);
	    wtf = d3.event;
	}
    });
function flashText(txt){
    svg.append("text").attr("x","100")
	.attr("y","100")
	.style("font-size","26px")
	.text(""+txt)
	.transition().duration(2000)
	.style("font-size","5px")
	.style("fill-opacity",".1")
	.remove();
}

function unfixNode(){
    var mouseyNode = d3.select(currentObjectMouse);
    mouseyNode.classed("fixed", false);
    mouseyNode.data()[0].fixed=0;
    start();
}

function addLink(){
    try{
    if(currentObjectClick==null){
	flashText("No object is click selected");
	return false;
    }
    var clickIndex = currentObjectClick.__data__.index;
    var clickName = currentObjectClick.__data__.name;
    var mouseIndex = currentObjectMouse.__data__.index;
    var mouseName = currentObjectMouse.__data__.name;
    var linkType = $('#linkTypeSelector')[0].options[$('#linkTypeSelector')[0].selectedIndex].value;
    function addLinkCallback(){
        var oldLinks = force.links();
        var newLinks = oldLinks.push({"source":clickIndex, "target":mouseIndex});
        start();
    }
    addLinkToDB(clickName, mouseName, linkType, addLinkCallback);
    }catch(err){
       var errObj = new Error();
       alert("Error adding link: "+err+"\n"+errObj.stack);
    }
}
function removeLink(){
    if(currentObjectClick==null){
	flashText("No object is click selected");
	return false;
    }
    var clickIndex = currentObjectClick.__data__.index;
    var clickName = currentObjectClick.__data__.name;
    var mouseIndex = currentObjectMouse.__data__.index;
    var mouseName = currentObjectMouse.__data__.name;
    var currentLinks = force.links();
    function compare(link1, link2){
        var l1s = link1.source.name;
        var l1t = link1.target.name;
        var l2s = link2.source;
        var l2t = link2.target;
        if((l1s === l2s) || (l1s === l2t)) {
            if((l1t === l2t) || (l1t == l2s)) {
                return true;
            }
        }
        return false;
    }
    function remove(arr, item){
        for(var i=arr.length; i--;){
            if(compare(arr[i], item)){
                arr.splice(i,1);
            }
        }
    }
    function removeLinkCallback(){
        remove(currentLinks, {"source":clickName, "target":mouseName});
        start();
    }
    removeLinkFromDB(clickName, mouseName, removeLinkCallback);
}

function addLinkToDB(aN, bN, lType, addLinkCallback){
    $.ajax({
        beforeSend: function(){
            spinner.spin(spinnerTarget);
        },
        complete: function(){
            spinner.stop();
        },
        type: 'POST',
        url: 'http://localhost/organizer/addLink/',
        data: {'from':aN, 'to':bN, 'type':lType, 'csrfmiddlewaretoken':'{{csrf_token}}'}, // data
        success: function(data, txtStatus, jqXHR){
            if(data['status']==="success"){
                addLinkCallback();
            }else{
                alert("Error Occurring on server. Check js console.");
                global_d = data;
                global_t = txtStatus;
                global_j = jqXHR;
            }
        },
        error: function(e1,e2,e3){
            alert("Add Link Ajax Failed: "+e1+" \n"+e2+" \n"+e3);
        }
    });
}

function doAjax(datas, url, successFunk){
    // successFunk must be sf(retData, txtStatus, jqXHR){...}
    var datas_mod = datas
    datas_mod['csrfmiddlewaretoken'] = '{{csrf_token}}';
    $.ajax({
	beforeSend: function(){
	    spinner.spin(spinnerTarget);
	},
	complete: function(){
	    spinner.stop();
	},
	type:'POST',
	url: url,
	data: datas_mod,
	success: successFunk,
	error: function(e1,e2,e3){
	    alert("Ajax Failed: "+e1+" \n"+e2+" \n"+e3);
	    globalE1 = e1;
	    globalE2 = e2;
	    globalE3 = e3;
	}
    });
}

 
function removeLinkFromDB(aN, bN, removeLinkCallback){ 
    doAjax({'from':aN, 'to':bN}, 
	   "http://localhost/organizer/removeLink/",
	   function(data, txtStatus, jqXHR){
	       if(data['status']==="success"){
		   removeLinkCallback();
	       }else{
		   alert("Error in removeLinkFromDB. Use js console.");
	       }
	   });
}

function storeNodePos(){

 
    function addNode(n){
	izFixed = d3.select(n).property('fixed')===1;
	var x = {'nodeName':n.name,'x':n.x, 'y':n.y, 'fixed':izFixed};
	return(x);
    }
    
    doAjax({'nodeList':JSON.stringify(node.data().map(function(d){return(addNode(d));})),
	    'posNodeType':'gtd_position',
	    'posLinkType':'gtd_position'}, 
	   "http://localhost/organizer/fixNodePos/",
	   function(data, txtStatus, jqXHR){
	       if(data['status']==='success'){
		   //storeNodeCallback();
	       }else{
		   alert("Error in storeNodePos. Use js console.");
		   blah = data;
	       }
	   });
    //alert("called storeNodePos");
}

function resetNodePos(){

    doAjax({'posNodeType':'gtd_position', 'posLinkType':'gtd_position'},
	   "http://localhost/organizer/resetAllNodePos/",
	   function(d, t, j){
	       if(d['status']==='success'){
		   //resetNodeCallback();
	       }else{
		   alert("Error in resetNodePos. Use js console.");
	       }
	   });
    //alert("called resetNodePos");
}

function addNode(){
    var newNodeName = prompt("Enter node name:")
    var newNodeTypeName = $('#nodeTypeSelector')[0].selectedOptions[0].text;
    function addCallback(dbIndex, dbName, dbTypeName){
	var theNodes = force.nodes();
	theNodes.push({'origIndex':dbIndex, 'name':dbName, 'type':dbTypeName, 'x':global_mousey[0], 'y':global_mousey[1], 'fixed':1});
	start();
    }
   
    doAjax({'nodeName':newNodeName, 'nodeTypeName':newNodeTypeName, 'nodeContent':''},
	   "http://localhost/organizer/addNode/",
	   function(d,t,j){
	       if(d['status']==='success'){
		   addCallback(d['dbIndex'], d['dbName'], d['dbTypeName']);
	       }else{
		   alert("Error in addNode. Use js console.");
		   global_d = d;
		   global_t = t;
		   global_j = j;
	       }

	   });
}

function deleteNode(){
    $.prompt('Really delete whole node?',
	     {buttons:{'Yes':true, 'No':false}, 
	      focus:1,
	      submit: function(e,v,m,f){

		  if(v==true){
		  
		      var nodeName = currentObjectClick.__data__.name;
		      function removeNodeFromSVG(){
			  function remove(arr, name){
			      for(var i=arr.length; i--;){
			  	  if(arr[i].name === name){
			  	      var stuff = arr.splice(i,1);
			  	  }
			      }
			  }
			  var currentNodes = force.nodes();
			  globalBefore = currentNodes;
			  remove(currentNodes, nodeName);
			  globalAfter = currentNodes;
			  start();

		      }
		      function removeLinksFromSVG(){
			  function findLink(link, name){
			      if((link.source.name===name) || (link.target.name===name)){
			  	  return true;
			      }else{
			  	  return false;
			      }
			  }
			  function remove(arr, name){
			      for(var i=arr.length; i--;){
			  	  if(findLink(arr[i], name)){
			  	      arr.splice(i,1);
			  	  }
			      }
			  }
			  var currentLinks = force.links();
			  remove(currentLinks, nodeName);
			  start();

		      }
		      doAjax({'nodeName':nodeName},
			     "http://localhost/organizer/deleteNode/",
			     function(d,t,j){
				 if(d['status']==='success'){
				     removeNodeFromSVG();
				     removeLinksFromSVG();
				     flashText(d['msg']);
				     currentObjectClick = null;
				 }else{

				 }


			     });
		  }else{
		      // do Nothing
		  }
	      }
	     });	      
}

function editNode(multiple){
    var nodeName = d3.select(currentObjectMouse).data()[0].name;
    doAjax({'nodeName':nodeName},
	   "http://localhost/organizer/getNodeEditDiv/",
	   function(d,t,j){
	       if(d['status']==='success'){
		   if(multiple==true){
		       d3.select("#editArea").append("div").html(d['divHtml']);
		   }else{
		       d3.select("#editArea").html(d['divHtml']);
		   }
	       }else{
		   alert("Error in getNodeEditDiv. Use js console.")
		   global_d = d;
		   global_t = t;
		   global_j = j;
	       }
	   });
    //alert("editNode not yet implemented");
}

function saveNode(nodeEditDivID){
    var content = $('#'+nodeEditDivID+" .nodeContent").val();
    var nodeName = $('#'+nodeEditDivID+" .nodeName").text();
    var nodeTypeName = $('#'+nodeEditDivID+" .nodeType")[0].selectedOptions[0].text;
    doAjax({'nodeName':nodeName, 'nodeContent':content, 'nodeTypeName':nodeTypeName},
     "http://localhost/organizer/saveNode/",
	   function(d,t,j){
	       if(d['status']==='success'){
		   flashText('saved Node'+d['msg'])
	       }else{
		   alert("Error in saveNode. Use js console.");
		   global_d = d;
		   global_t = t;
		   global_j = j;
	       }
	   });
}

</script>
{% endblock d3Script %}

{% block editArea %}
<div id="editArea" tabindex="1"></div>
{% endblock editArea %}
