
body {
    font-family: Monda, Helvetica, Arial, sans-serif;
    font-size:0.65em;
}

*:focus {
    outline:none;
}

.link {
    stroke: #000;
    stroke-width: 1.5px;
}

.node circle {
    cursor: move;
    fill:#ccc;
    stroke: #000;
    stroke-width: 3px;
    opacity:0.3;
}

.node.fixed circle {
    fill: #EB1818;
    stroke: #000;
}

.node text {
    pointer-events: none;
    font: 0.65em;
    fill: black;
}

.node text.clickSelected {
    fill: blue;
    font: 1.7em sans-serif;
}
.node text.mouseOverSelected {
    fill: red;
    font: 1.7em sans-serif;
}

.overlay {
    fill:#F3F2F7;
    pointer-events:all;
}  

#editArContWin {
    position:absolute;
    top:25%;
    left:70%;
    /* width:30%;
    height:30%; */
    opacity:0.9;
    
}

#editAreaScroller {
    height:100%;
    width:100%;
    overflow:auto;
}

#editAreaContainer {
    position:fixed;
    top:10%;
    left:2%;
    height:600px; /* The height gets jquery adjusted anyway, so this is arbitrary.*/
    width:500px;
    background-color: white;
    opacity:0.9;
    border:solid;
}

.sliderBox {
    width:100%;
    overflow:auto;
    padding:5px 10px 10px 5px;
    float:left;
    position:relative;
}

.slider {
    float:left;
    left:80px;
    width:600px;
}

.label {
    float:left;
    width:80px;
}

#gravityCheckbox{
    /*left:50%;*/
    position:relative;
    left:75px;
    width:30px;
}